*{
    margin: 0;
}
.all {
    background-color: rgb(96, 83, 190);
    height: 80px;
    width: 1520px;
    position: sticky;
    top: -10px;
    z-index: 1;



}



.head img {
    width: 100px;
    height: 80px;
    margin-left: 50px;
    float: left;
}
.imgg{
    margin-left: 100px;
    position: absolute;
   left: 10px;
    top: 50px;
}

.head h1 {
    float: left;
    color: white;
    margin-top: 30px;
    margin-left: 50px;
}

.menu ul {
    position: absolute;
    margin-left: 660px;
    list-style: none;
    display: flex;
    margin-top: 40px;
}

.menu li {
    margin-left: 30px;
}

.menu a {
    text-decoration: none;
    color: white;
    transition: 0.7s;
    padding: 5px;
    font-size: 17px;
}

.menu a:hover {
    /* text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 5px;
    float: left; */
    /* transition: 1.7s; */
    border: 2px solid;
    padding: 5px;
}
.gall{
    background-color: whitesmoke;
    height: 700px;
    width: 100%;
}
.footer{
    background-color: rgb(42, 38, 38);
    height: 120px;
    width: 1520px;
}
.footer h1{
    position: absolute;
    margin-top: 30px;
    margin-left: 100px;
    color: whitesmoke;
    font-family: livvic, sans-serif;
}
.footer p{
    margin-left: 100px;
    color: whitesmoke;
    font-family: livvic, sans-serif;
    margin-top: 70px;
    float: left;

}
.searchh{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px;
    background:white;
    
    align-items: center;
    float: left;
    margin-left: 350px;
    margin-top: 35px;
}

.searchh input{
    width: 370px;
    outline: none;
    border: none;
    font-weight: 200;
    transition: 0.8s;
    background: transparent;
    
}
.searchh a button{
    color: white;
    font-size: 18px;
    padding: 14px;
    
    background-color: blue;
    border: none;

    
    
}

.footer2{
    background-color: rgb(42, 38, 38);
    height: 500px;
    width: 1520px;
    
}
.footer2 h1{
    font-family: livvic,sans-serif;
    font-size: 25px;
    margin-top: 100px;
    margin-left: 100px;
    position: absolute;
    color: white;
}
.footer2 p{
    color: whitesmoke;
    font-family: livvic,sans-serif;
    float: left;
    margin-top: 150px;
    margin-left: 100px;
    line-height: 1.4;
    font-size: 15px;
    
    
    
}
.icon ul{
    display: inline-flex;
    margin-left: -370px;
    margin-top: 250px;
    float: left;
}
.icon li{
    list-style: none;
    margin-left: 30px;
}
.icon ul li a{
    color: blue;
    text-decoration: none;
    border-radius: 10px;
    background-color: white;
    padding: 15px;

}
.our{
    float: left;
}
.our h1{
    margin-left: 200px;
    margin-top: 100px;
    font-size: 15px;
    text-decoration: underline;
    text-underline-offset: 10px;
    

}
.our ul{
    position: relative;
    top: 150px;
    margin-left: 180px;
    
}
.our li{
    list-style: none;
    margin-top: 15px;
}
.our a{
    color: whitesmoke;
}
.our i{
    margin-left: -30px;
}
.quick h1{
    margin-left: 100px;
    margin-top: 100px;
    font-size: 15px;
    text-decoration: underline;
    text-underline-offset: 10px;
    

}
.quick{
    float: left;
}
.quick ul{
    position: relative;
    top: 150px;
    margin-left: 100px;
    
}
.quick li{
    list-style: none;
    margin-top: 15px;
}
.quick a{
    color: whitesmoke;
}
.quick i{
    margin-left: -30px;
}
.add{
    float: left;
}
.add h1{
    margin-left: 100px;
    margin-top: 100px;
    font-size: 15px;
    text-decoration: underline;
    text-underline-offset: 10px;
}
.add h2{
    margin-left: 100px;
    margin-top: 160px;
    font-size: 15px;
    
    color: ghostwhite;
}
.add p{
    margin-top: 1px;


}
.abb{
    margin-top: -50px;
}

.gall ul li{
    list-style: none;
    margin-left: 70px;
    margin-top: 140px;
    box-shadow: 5px 5px 5px 5px;
    
}
.gall ul li:hover{
    transform: scale(1.1);
}
.gall ul{
    display: inline-flex;
}
.gall img{
    width: 200px;
    height: 200px;
    
    
}
.gall h1{
    position: absolute;
    margin-top: 50px;
    margin-left: 650px;
}
.galle ul li{
    list-style: none;
    margin-left: 70px;
    margin-top: 50px;
    box-shadow: 5px 5px 5px 5px;
    
}
.galle ul li:hover{
    transform: scale(1.1);
}
.galle ul{
    display: inline-flex;
}
.galle img{
    width: 200px;
    height: 200px;
    
    
}

